.w {
  width: 1226px;
  margin: 0 auto;
  padding: 0 15px;
}

.topbar {
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #f5f5f5;
}

.topbar .topbar-left {
  line-height: 40px;
}

.topbar .topbar-left span,
.topbar .topbar-left i {
  float: left;
}

.topbar .topbar-right {
  display: flex;
  justify-content: flex-end;
  float: right;
  line-height: 40px;
  font-size: 16px;
}

.topbar .topbar-right a {
  float: left;
  padding: 0 10px;
  color: #39987c;
}

/* 登录 */
.topbar .topbar-right .login:hover,
.topbar .topbar-right .register:hover,
.topbar .topbar-right .cart:hover,
.topbar .topbar-right .admin:hover {
  background-color: #39987c;
  color: #fff;
}

.topbar .topbar-right .cart:hover .cart-num {
  background: #f00;
}

/* 购物车 */

.topbar .topbar-right .cart .cart-num {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #39987c;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header .header-logo {
  width: 200px;
  height: 62px;
  background: url("../images/logo.gif") no-repeat;
  background-size: contain;
}

.header .header-nav li {
  float: left;
  margin-right: 15px;
}

.header .header-nav li a {
  height: 100px;
  line-height: 100px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.header .header-nav li a:hover {
  color: #39987c;
  text-shadow: 3px 2px 5px skyblue;
}

/* search */
.header .header-search {
  position: relative;
}
.header .header-search input {
  padding: 5px 0;
  width: 245px;
  height: 50px;
  border: 1px solid #e0e0e0;
  font-size: 18px;
  text-indent: 1em;
}
.header .header-search i {
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 24px;
  color: #e0e0e0;
}

.header .header-search input:focus {
  border-color: #333;
}
.header .header-search input:focus + i {
  color: #333;
  cursor: pointer;
}

/* banner */
.banner {
  display: flex;
  height: 360px;
}

/* banner-left */
.banner .banner-left {
  width: 234px;
  height: 360px;
  background-color: #f0f0f0;
}

.banner .banner-left ul {
  padding: 20px 0;
}

.banner .banner-left ul li {
  padding: 0px 20px;
}

.banner .banner-left li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  color: #39987c;
}

.banner .banner-left li:hover,
.banner .banner-left li:hover a {
  background-color: #39987c;
  color: #fff;
}

/* banner-right */
.banner .banner-right {
  height: 360px;
  width: 992px;
}

.banner .banner-right .swiper {
  height: 360px;
}

/* book-list */
.books-list {
  margin-top: 15px;
  background-color: #f5f5f5;
}
.books-list .list .list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  color: #333;
  font-size: 20px;
  font-weight: 200;
}

.books-list .list .list-header .price-search {
  font-size: 16px;
  color: #39987c;
}

.books-list .list .list-header .price-search input {
  margin: 0 10px;
  text-align: center;
  width: 60px;
  height: 30px;
}

.books-list .list .list-header .price-search button {
  margin-left: 10px;
  width: 60px;
  height: 30px;
  border: none;
  background-color: #39987c;
  color: #fff;
  outline: none;
}

/* list-content */
.books-list .list .list-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.books-list .list .list-content .list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: calc((100% - 4 * 20px) / 5);
  height: 339px;
  color: #000;
  background-color: #fff;
}

.books-list .list .list-content .list-item:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

.books-list .list .list-content .list-item img {
  width: 160px;
  height: 200px;
  margin: 5px 0;
}

.books-list .list .list-content .list-item p {
  font-size: 12px;
  color: #999;
}

.books-list .list .list-content .list-item p .cur-price {
  color: red;
  font-size: 18px;
}

.books-list .list .list-content .list-item p .pre-price {
  color: #666;
  text-decoration: line-through;
  font-size: 12px;
}

.books-list .list .list-content .list-item button {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #39987c;
  margin-top: 5px;
  outline: none;
  color: #fff;
  cursor: pointer;
}

/* list-footer */
.books-list .list .list-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  color: #666;
  font-size: 18px;
}
.books-list .list .list-footer div {
  margin: 0 5px;
  cursor: pointer;
  text-decoration: underline;
}

.books-list .list .list-footer span {
  margin: 0 5px;
}

.books-list .list .list-footer ul li {
  float: left;
  cursor: pointer;
  text-decoration: underline;
}

.books-list .list .list-footer ul li:nth-child(n + 2) {
  margin-left: 10px;
}

.books-list .list .list-footer ul li.active {
  font-weight: 700;
  color: #39987c;
  font-size: 20px;
}

.books-list .list .list-footer input {
  width: 40px;
  height: 30px;
}

.books-list .list .list-footer button {
  width: 60px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #39987c;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

/* cate */
.cate {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  height: 170px;
}

.cate .list {
  width: 234px;
  height: 170px;
  background-color: #39987c;
}
.cate .list .list-item {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 78px;
  height: 85px;
  color: #fff;
  opacity: 0.7;
}

.cate .img {
  width: 316px;
  height: 170px;
  background-color: pink;
}

.cate .img img {
  width: 100%;
  height: 100%;
}

/* book */
.books {
  margin-top: 20px;
}

.books .seckill .seckill-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
}

.books .seckill .seckill-header .title {
  margin-left: 10px;
  font-weight: 200;
  font-size: 20px;
  line-height: 58px;
  color: #333;
}

.books .seckill .seckill-header i {
  margin-right: 20px;
  font-size: 20px;
  color: #39987c;
  cursor: pointer;
}

.books .seckill .seckill-content {
  display: flex;
  height: 339px;
  justify-content: space-between;
}
.books .seckill .seckill-content a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 234px;
  height: 339px;
  background-color: #fff;
}

.books .seckill .seckill-content a h5 {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #323232;
}

.books .seckill .seckill-content a i {
  font-size: 66px;
  color: red;
  margin-bottom: 30px;
}

.books .seckill .seckill-content a .countdown {
  display: flex;
}

.books .seckill .seckill-content a .countdown .time {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #39987c;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.books .seckill .seckill-content a .countdown .token {
  height: 42px;
  line-height: 42px;
  margin: 0 10px;
  color: #39987c;
  font-size: 24px;
  font-weight: 500;
}

.books .seckill .seckill-content a.tip {
  background-color: #f1eded;
}

.books .seckill .seckill-content a.books-sec {
  display: flex;
  flex-direction: column;
  color: #000;
}

.books .seckill .seckill-content a.books-sec img {
  width: 160px;
  height: 200px;
  margin: 15px 0;
}

.books .seckill .seckill-content a.books-sec p {
  margin-bottom: 10px;
}

.books .seckill .seckill-content a.books-sec .cur-price {
  color: red;
  font-size: 18px;
}

.books .seckill .seckill-content a.books-sec .pre-price {
  color: #666;
  text-decoration: line-through;
  font-size: 12px;
}

.books .seckill .seckill-content a.books-sec button {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: #39987c;
  color: #fff;
}

/* bottom */
.bottom {
  margin-top: 10px;
  color: #fff;
  background-color: #323232;
}

.bottom .top {
  height: 100px;
  border-bottom: 1px solid #474747;
}

.bottom .top ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.bottom .top ul li {
  display: flex;
  align-items: center;
}

.bottom .top ul li a {
  display: flex;
  align-items: center;
  color: #fff;
}

.bottom .top ul li a span {
  margin-left: 10px;
}

.bottom .content {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  /* height: 100px; */
  cursor: pointer;
}

.bottom .content dl {
  text-align: center;
  width: 180px;
}

.bottom .content dl dt {
  font-size: 20px;
}

.bottom .content dl dd {
  margin-top: 10px;
  font-size: 14px;
  color: #a8a8a8;
}

.bottom .content dl dd:last-child {
  padding-bottom: 20px;
}
