html,
body,
#app {
  height: 100%;
}

.login-header {
  display: flex;
  justify-content: space-between;
  height: 82px;
}

/* login_success */
.login-header__info {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
}

.login-box__welcome {
  text-align: center;
  font-size: 30px;
}

.login-box__welcome a {
  display: inline-block;
  text-decoration: underline;
  color: #fff;
  margin-top: 100px;
}

.login-header__link {
  display: inline-block;
  font-size: 0;
}

.login-box {
  height: calc(100% - 127px);
  background-color: #39987c;
}

.login-box__content {
  float: right;
  width: 380px;
  margin-right: 150px;
  margin-top: 50px;
  padding: 0 30px 30px 30px;
  background-color: #fff;
}

.login-box__title {
  text-align: center;
  font-size: 24px;

  margin: 20px 0;
  color: #39987c;
}

.login-box__tip {
  position: relative;
  background: none repeat scroll 0 0 #fff6d2;
  border: 1px solid #ffe57d;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.login-box__tip i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 17px;
  background: url("../images/pwd-icons-new.png") no-repeat scroll -104px -22px rgba(0, 0, 0, 0);
}

.form-item {
  display: flex;
  height: 60px;
  margin-bottom: 5px;
}

.form-item__label {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  text-align: right;
}

.form-item__control {
  display: flex;
  flex-direction: column;
}

.form-item__input {
  height: 35px;
}

.form-item__error {
  font-size: 14px;
  color: red;
}

.form-item__input.code {
  display: flex;
}

.code div {
  display: flex;
}

.code .form-item__input {
  margin-right: 10px;
}

.login-form__btn {
  /* margin-top: 15px; */
  height: 45px;
  width: 100%;
  border: none;
  background-color: #39987c;
  color: #fff;
}

.login-box__link {
  text-align: right;
  color: #39987c;
}

.login-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 14px;
}
